extends layout

block content
    h1= title
    p Welcome to #{title}

    h2 Generate
    p Get a random date with question number
    br
    button#btnGetRandomQuestion Random!
    #getRandomQuestion
        p
            strong Question Date:
            |  <span id='questionDate'></span>
            br
            strong Question number:
            |  <span id='questionId'></span>

    button#btnSubmitRandomQuestion Submit
    button#btnCancelRandomQuestion Cancel

    h2 Assigned days
    p Manualy link a date with a question number
    br
    #createQuestion
        fieldset
            input#inputDate(type='text', placeholder='Date')
            br
            input#inputQuestionId(type='text', placeholder='Question number')
            br
            button#btnSubmitQuestion Submit
            button#btnCancelQuestion Cancel